<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/high-school</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="ClaseHibernate/Course.hbm.xml"/>
    <mapping resource="ClaseHibernate/Note.hbm.xml"/>
    <mapping resource="ClaseHibernate/Person.hbm.xml"/>
    <mapping resource="ClaseHibernate/Schedule.hbm.xml"/>
    
    <mapping class="ClaseServices.Model.User"/>
    <mapping class="ClaseServices.Model.ShoppingCart.Items.ItemImpl"/>
    <mapping class="ClaseServices.Model.ShoppingCart.Offer.Offer"/>
    <mapping class="ClaseServices.Model.ShoppingCart.Payments.CashPayment"/>
    <mapping class="ClaseServices.Model.ShoppingCart.Payments.CreditCardPayment"/>
    <mapping class="ClaseServices.Model.ShoppingCart.Payments.PayPalPayment"/>
    <mapping class="ClaseServices.ServiceImpl.ShoppingCart.ShoppingCartImpl"/>
  </session-factory>
</hibernate-configuration>
